@model IEnumerable<PizzaWebSite.Models.PizzaCart.OrderItem>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.OrderTotal = 0;
}

<div class="jumbotron">
    <h1>Pizza Website</h1>
    <p class="lead">Cart!</p>
</div>

<div class="row">
    <div class="col-md-10">
        <h2>Cart</h2>

       
        @foreach (var orderItem in Model)
        {
            ViewBag.OrderTotal += orderItem.Pizza.Price;

            <h3>Pizza: @orderItem.Pizza.Name</h3>
            <p>Size: @orderItem.Pizza.Size</p>
            <p>Price: £@orderItem.Pizza.Price</p>

            <p>Toppings</p>
            <ul>
                @foreach (var topping in orderItem.Pizza.Toppings.ToList())
                {
                    <li>@topping.Name</li>
                }
            </ul>
            using (Html.BeginForm("Remove", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <input type="hidden" name="PizzaId" value="@orderItem.Pizza.PizzaId" />
                <input type="submit" value="Remove" class="btn btn-danger" />
            }
        }

        <h3>£@ViewBag.OrderTotal</h3>

        @Html.ActionLink("Continue", "Confirm")
        

    </div>
</div>
