@model PizzaWebSite.Models.PizzaCart.Pizza

@{
    ViewBag.Title = "Pizzas - Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Pizza Website</h1>
    <p class="lead">Customise your pizza!</p>
</div>

<div class="row">
    @using (Html.BeginForm("Add", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        
        @Html.AntiForgeryToken()

        <div class="col-md-10">
            <h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name) (@Html.DisplayFor(model => model.Size))</h2>

            <h3>Toppings</h3>
            <ul>
                @foreach (var topping in Model.Toppings.ToList())
                {
                    <li>@Html.DisplayFor(modelItem => topping.Name)</li>
                }
            </ul>

            <p>£@Model.Toppings.ToList()[0].Price per extra topping</p>

            @foreach (var topping in ViewBag.AllToppings)
            {
                var index = Model.Toppings.ToList().FindIndex(item => item.ToppingId == topping.ToppingId);

                if (topping.Size == Model.Size && index == -1)
                {
                    <div>
                        <label>@topping.Name</label>
                        <input type="checkbox" name="ToppingId" value="@topping.ToppingId" />
                    </div>

                    
                }

            }

            <h3>£@Model.Price</h3>

            <input type="hidden" name="PizzaId" value="@Html.DisplayFor(model => model.PizzaId)" />
            <input type="submit" value="Add to Cart" class="btn btn-success" />

        </div>
    }
    
</div>