@model PizzaWebSite.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>

    <h3>Orders</h3>

    @foreach (var order in ViewBag.Orders)
    {
        if (order.OrderItems.Count > 0)
        {
            foreach (var orderItem in order.OrderItems)
            {

                <h3>Pizza: @orderItem.Pizza.Name</h3>
                <p>Size: @orderItem.Pizza.Size</p>
                <p>Base Pizza Price: £@orderItem.Pizza.Price</p>

                <p>Toppings</p>
                <ul>
                    @foreach (var topping in orderItem.Pizza.Toppings)
                    {
                        <li>@topping.Name</li>
                    }
                </ul>

                <p>Extra Selected Toppings</p>
                <ul>
                    @if (orderItem.ExtraToppings != null)
                    {
                        foreach (var topping in orderItem.ExtraToppings)
                        {
                            <li>@topping.Name (£@topping.Price)</li>
                        }
                    }
                    else
                    {
                        <li>None</li>
                    }
                </ul>

                <h4>Price: £@orderItem.Price</h4>
            }

            if (order.Discount > 0)
            {
                <p>Voucher applied.</p>
                <h3>Order total: <span style="text-decoration: line-through">£@order.Price</span> - £@(order.Price - order.Discount)</h3>
            }
            else
            {
                <h3>Order Total: £@order.Price</h3>
            }
        }




        @Html.ActionLink("Re-order this", "Cart", "Home", new { id = order.OrderId }, new { @class = "btn btn-primary" })

        <hr />
    }


</div>
