@model PizzaWebSite.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>

    <h3>Orders</h3>

    @foreach (var order in ViewBag.Orders)
    {
        var orderTotal = 0;

        <p>@order.OrderId</p>

        if (order.OrderItems.Count != 0)
        {
            foreach (var item in order.OrderItems)
            {
                orderTotal += item.Pizza.Price;
                <ul>
                    <li>@item.Pizza.Name</li>
                    <li>@item.Pizza.Size</li>
                    <li>£@item.Pizza.Price</li>
                </ul>
            }
        }

        <p>Order Total: £@orderTotal</p>

        <hr />
    }


</div>
